.magic__text {
    margin: 3vw 0 3vw 0;
    font-family: 'monotypecorsiva';
    font-size: 3vw;
    text-align: center;
    width: 65vw;
    color: white;
    margin-left: 17.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}