.info__text {
    padding-top: 0.5vw;
    display: inline-block;
    width: 60vw;
    margin: 0;
    margin-left: 2vw;
    font-size: 1.5vw;
}

@media screen and (max-width: 767px) {
    .info__text {
        font-size: 3vw;
    }
}