.gallery__data {
    font-family: 'Montserrat-VariableFont_wght';
    display: flex;
    margin-top: 3vw;
    margin-left: 30vw;
    gap: 5vw;
}

@media screen and (max-width: 767px) {
    .gallery__data  {
        width: 20vw;
        margin-left: 15vw;
    }
}