.about__text {
    font-family: 'Montserrat-VariableFont_wght';
    margin: 0;
    color: #010101;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 14vw;
}