.gallery__cards {
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    margin-left: 4vw;
    column-gap: 5vw;
    row-gap: 1vw;

}


@media screen and (max-width: 767px) {
    .gallery__cards {
        grid-template-columns: repeat(2, 40vw);
        margin-left: 7vw;
    }
}