.reviews__text_v2 {
    position: absolute;
    z-index: 3 !important;
    margin: 0;
    font-family: 'Montserrat-VariableFont_wght';
    font-size: 1.4vw;
    width: 40vw;  
    top: 6vw;
    left: 5vw; 
}