.begin__header {
    font-family: 'monotypecorsiva';
    margin: 0;
    text-align: center;
    padding-top: 3.5vw;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 92.207%;
}