.info__img {
    width: 6vw;
    height: 6vw;
    margin-bottom: 3vw;
}

@media screen and (max-width: 767px) {
    .info__img {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (max-width: 767px) {
    .info__img_v2 {
        width: 20vw;
        height: 20vw;
        margin-left: 2vw;
    }
}