.info__pic3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
}

@media screen and (max-width: 767px) {
    .info__pic3 {
        width: 30vw;
        right: -10vw;
        z-index: -1;
    }
}